<section class="section py-2">
  <div class="container">
    <div class="columns is-mobile is-vcentered">
      <div class="column is-half">
        [onshow..cst.CAMILA_APPLICATION_GROUP]
      </div>
      <div class="column has-text-right">
        <span>[onload;block=span;when [var.anonLogin]=0][onshow._CAMILA.user_surname] [onshow._CAMILA.user_name] |</span>
        <a href='[onshow.prefURL]'>[onshow.i18n.getTranslation(camila_prefs)]</a>
        <span> | </span>
        <a href='cf_logout.php'>[onshow.i18n.getTranslation(camila_logout)]</a>
      </div>
    </div>
  </div>
</section>