body {
	background-color: white !important;
}

nav.navbar {
    background-color: #f8f8f8;
    
    border-top: 2px solid #000080;
    border-bottom: 2px solid #000080;
}

.navbar-item.is-selected {
	padding-top: 10px;
	background-color: #f0f0f0;
}

.navbar-brand > .navbar-item {
	color: #000080;
    font-size: 18px;
    line-height: 20px
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}

.container i small {
  padding-top: 20px;
  display: inline-block;
}

:root {
  --bulma-primary: #0066cc;
}
.button.is-primary {
  background-color: var(--bulma-primary);
  border-color: var(--bulma-primary);
  color: #fff;
}
.button.is-primary:hover {
  background-color: #005bb5;
  border-color: #005bb5;
}

.cf_bool {
	width: 20px;
}